<h1>Welcome</h1>
<p>This is a basic chat app</p>

<ul class="list-group">
  <%= render @rooms %>
</ul>

<%= form_for(Room.new) do |f| %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Create new room' %>
  <%= submit_tag "Create", class: 'btn btn-primary' %>
<% end %>
  